.align-left {
    text-align: left;
}

.align-rigth {
    text-align: right;
}

/*.table-simple tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
}*/

.table-simple tbody tr:hover {
    background-color: #e2e2e2;
}

.table-simple {
    border-radius: 10px;
}

.table-simple th,
td {
    /*border: 1px solid rgb(213, 211, 211);*/
    padding: 10px 15px;
    border-radius: 10px;
}

.table-simple th {
    background-color: #fafafa;
    border-bottom: 1px solid rgb(213, 211, 211);
}

.table-simple th:not(:last-child) {
    border-right: 1px solid rgb(213, 211, 211);
}

.table-simple td {
    border-bottom: 1px solid rgb(213, 211, 211);
}

.table-simple td:not(:last-child) {
    border-right: 1px solid rgb(213, 211, 211);
}

.table-simple {
    margin-top: 25px;
    width: 90%;
    border-collapse: collapse;
    box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
}

.money::before {
    content: "$";
}