.button {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.small {
    padding: 5px 15px;
}

.middle {
    padding: 10px 25px;
}

.large {
    padding: 15px 35px;
}

.success {
    background-color: #1d8719;
    color: #fff;
}

.success:hover {
    background-color: #77d874;
    cursor: pointer;
}

.normal {
    background-color: #5250d3;
    color: white;
}

.normal:hover {
    background-color: #6f6dd1;
    color: white;
    cursor: pointer;
}

.error {
    background-color: #e02626;
    color: white;
    cursor: pointer;
}

.error:hover:hover {
    background-color: #de5252;
    color: white;
    cursor: pointer;
}